* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #333;

  li {
    display: inline-block;

    a {
      display: inline-block;
      color: white;
      text-decoration: none;
      padding: 15px;

      &:hover {
        background-color: red;
      }
    }
  }
}

.dropdown {
  &:hover .dropdown-menu {
    display: block;
  }
  &-menu {
    position: absolute;
    // border: 1px solid black;
    box-shadow: 0 0 2px black;
    display: none;
    a {
      display: block;
      color: black;
    }
  }
}
